<!doctype html>
<html>
  <head>
<!--
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-easyui-themes/ui-cupertino_perso/easyui.css') }}" />
-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jQuery_UI_1.5/themes/default/easyui.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jQuery_UI_1.5/themes/icon.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jquery-treetable.css') }}">
  
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/jQuery_UI/jquery.min.js') }}" /></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jQuery_UI/jquery.easyui.min.js') }}" /></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-treetable.js') }}"></script>
 	<script>
		$(function() {
			$("table").treetable();
		});
	</script>
    <style>
    body { background-color:#fbfbfb;}
    </style> 
  
  <title>pattern data (version {{version}})</title>   
  </head>
  
  
  
  <body>    
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					taxon
				</th>
			
				{% for ii in data.columns.values.tolist() %}
					<th>
					{{ ii }}
					</th>
				{% endfor %}  
			</tr>	
		</thead>
		<tbody>
		
		{% for kk, jj in data.iterrows() %}
			<tr>
			<td>
				<div class="tt" data-tt-id="{{ jj.tree_keys }}" data-tt-parent="{{ jj.tree_father_keys }}">  {{ jj.tree_keys }}  </div>
			</td>
				<td>
				{{ jj.genus }}
			</td>
			<td>
				{{ jj.species }}
			</td>

			<td>
				{{ jj.nbseqE }}
			</td>
			<td>
				{{ jj.nbseqO }}
			</td>
			<td>
				{{ jj.nbrep }}
			</td>
			
			
			
			
			
			
<!--
				{% for ii in jj %}
					<td>
					{{ ii }}
					</td>
				{% endfor %}  
-->
			</tr>	
		{% endfor %}  
	  
		</tbody>
   </table>
	  
	<div id="tt" class="easyui-tabs" style="width:100%;height:auto;">
	 
    </div>
    
  </body>
</html>
